@charset "UTF-8";

$main-color: #333;

@mixin imgSize {
    width: 295px;
}

@mixin logoSize {
    width: 180px;
    height: 21px;
}

@mixin producttext {
    font-size: 12px;
    color: $main-color;
}

// @mixin listBlock {
//     width: 100%;
//     margin-bottom: 40px;
// }



@mixin footerP {
    font-size: 10px;
    color: $main-color;
    // padding-right: 80px;
}

// @mixin SPlistBlock {
//     width: 100%;
//     margin-bottom: 40px;
// }

// @mixin SPimgSize {
//     width: 50%;
// }

